html, body {
 height: 100%;
 width: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url("https://wallpaper.dog/large/20552168.jpg");
 background-size: cover;
}

#scene-description {
 width: 600px;
 margin: 20px auto;
 text-align: center;
 font-family: "Trebuchet MS";
 font-size: 0.8em;
 color: white;
}

#scene-container {
 width: 600px;
 height: 400px;
 margin: auto;
 border: 5px solid black;
 background: url(https://images.squarespace-cdn.com/content/v1/5583d7ffe4b0db43b0a1118f/d7751075-44be-494a-aa63-664570f556fd/DESTROYED+CITY.jpg);
 background-size: cover;
 overflow: hidden; /* contain objects "on-screen" */
}

#superman-flying {
    width: 80px;
    position: relative;
    top: -10px;
    left: 240px;
    animation: flying 1.5s infinite linear;
}

#flame {
    width: 90px;
    position: relative;
    left: 30px;
    animation: flame 3.5s infinite ease-in-out;
}

#large-flame {
    width: 300px;
    position: relative;
    top: 140px;
    left: 0px;
}

#flame-2 {
    width: 100px;
    position: relative;
    top: 195px;
    left: 120px;
    animation: flame 2.5s infinite ease-in-out;
}

#flame-3 {
    width: 90px;
    position: relative;
    left: 190px;
    animation: flame 1s infinite ease-in-out;
}

@keyframes flying {
    0% { transform: translate(0px,10px); }
    20% { transform: translate(10px,20px); }
    40% { transform: translate(30px,40px); }
    60% { transform: translate(50px,60px); }
    80% { transform: translate(70px,80px); }
    100% { transform: translate(90px,100px); }
}

@keyframes flame {
    0% {opacity: 0;}
    50% {opacity: 1;}
    100% {opacity: 0;}
}